@import url('https://rsms.me/inter/inter.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff: 'Inter', sans-serif;
  --fw-thin: 200;
  --fw-bold: 800;

  --fs-h1: 5rem;
  --fs-h2: 3rem;
  --fs-h3: 2rem;
  --fs-h4: 1.5rem;
  --fs-body: 1rem;
  --fs-btn-lg: 1rem;

  --clr-primary: #D9A091;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-grey: #F8F8F8;
  --clr-green: #0ca597;

  --bs-bottom: 0 0.25em 0.75em rgba(0, 0, 0, .25), 0 0.125em 0.25em rgba(0, 0, 0, .25);
  --bs-bottom-2: 0 0.15em 0.75em rgba(0, 0, 0, .25), , 0 0.125em 0.25em rgba(0, 0, 0, .25);
  --bs-bottom-inset: inset 0 0.25em 0.75em rgba(0, 0, 0, .25), 0 0.125em 0.25em rgba(0, 0, 0, .25);
}

/* General */
body {
  font-size: var(--fs-body);
  font-family: var(--ff);
  color: var(--clr-dark);
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
 font-size: var(--fs-h4);
}

/* Buttons*/
.button {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  min-width: min-content;
}

.button-lg {
  padding: 1.5em;
  border-radius: 10px;
}

/* Sections */
.section-navbar {
  width: 100%;
  background-color: var(--clr-primary);
  padding: 1em 2em 1em 4em;
  box-shadow: var(--bs-bottom);
}
.section-navbar a {
  font-size: 24px;
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
  letter-spacing: 1px;
}

.content-container {
  padding: 2em;
}


/* Community */
.communities h2 {
  font-weight: var(--fw-bold);
  text-align: center;
  margin: 1em;
}

.communities-list {
  width: 100%;
  margin: 2em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
}

.community {
  flex-basis: 360px;
  display: flex;
  justify-content: space-between;
  margin: 1em;

  color: var(--clr-prim);

  border: 0px;
  border-radius: 10px;
  padding: 1em;
}
.community:hover{
  /* background-color: var(--clr-grey); */
  transition: 0.5s;
  box-shadow: var(--bs-bottom);
}
.community:hover > .community__homes{
  visibility: visible;
  min-height: 0;
  width: 100%;
  animation: fadeDropdown 0.5s;
}
@keyframes fadeDropdown {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.community h3 {
  font-weight: 500;
  letter-spacing: -1px;
  line-height: normal;
  text-align: center;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 320px;
  margin: 0.50em 0 0.25em 0;
}
.community h4 {
  font-weight: 400;
  color: var(--clr-green);
  text-align: center;
  padding: 0 0 0.50em 0;
}

.community img {
  max-height: 200px;
  /* width: 320px; */
}

.community__homes {
  visibility: hidden;
  border: 0;
}

.home {
  margin: auto;
  display: grid;
  grid-template-columns: 95px 80px 110px;
}

/* Landing page */
#landing__title {
  width: 50%;
  padding: 10em 3em 10em 0;
}

#landing__title h1{
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: normal;
  margin: 0 0 44px 0;
}

#landing__ctas a:hover{
  background-color: var(--clr-light);
  border: 0.8px solid var(--clr-primary);
  color: var(--clr-primary);
  transition: 0.3s;
}